// Neutral colors
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-lightgrayishviolet: hsl(270, 3%, 87%);
$color-neutral-darkgrayishviolet: hsl(279, 6%, 55%);
$color-neutral-darkviolet: hsl(278, 68%, 11%);

// Primary colors
$color-primary-gradient1: hsl(249, 99%, 64%);
$color-primary-gradient2: hsl(278, 94%, 30%);
$color-primary-gradient3: hsl(0, 100%, 66%);

// Font
$font-size: 1.125rem;
$font-family: "Space Grotesk", sans-serif;
